body { background: #67b0e; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 10px; display: flex; }
.block-metrics-0 { color: #58d145; font-size: 19px; margin-bottom: 5px; }
.block-cart-1 { color: #b910ff; font-size: 12px; margin-bottom: 5px; }
.block-cart-2 { color: #198790; font-size: 18px; margin-bottom: 5px; }
.block-token-3 { color: #fa8119; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #31c768; font-size: 18px; margin-bottom: 5px; }